/* MODE CONTRASTÉ (Accessibilité WCAG) */
:root {
    --noir: #000000;
    --noir-profond: #000000;
    --orange: #ffff00; /* Jaune haute visibilité */
    --orange-hover: #ffffff;
    --blanc: #ffff00;
    --gris-texte: #ffff00;
    --texte-gris: #ffffff;
    --bordure: #ffff00;
}

* { border-width: 2px !important; }