body {
    background-color: #000000;
    color: #FFA500;
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 10px;
}

h1 {
    color: #FFD700; 
    text-transform: uppercase;
    padding-bottom: 10px;
}

div {
    margin: 15px 0;
}

button {
    background-color: #FFA500;
    color: #000000;
    border: none;
    padding: 8px 15px;
    font-weight: bold;
    margin-left: 10px;
    text-transform: uppercase;
}

h3 {
    margin-top: 40px;
    text-transform: uppercase;
    color: #fff;
}

ul {
    list-style-type: none;
    padding: 0;
    border-top: 1px dashed #FFA500;
    margin: 20px auto;
}

li {
    padding: 15px;
}